In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tabular-playground-series-jan-2022/sample_submission.csv
/kaggle/input/tabular-playground-series-jan-2022/train.csv
/kaggle/input/tabular-playground-series-jan-2022/test.csv

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [11]:
from pathlib import Path
path = Path().cwd().parent / 'input'
files = list(path.rglob('*'))
files

[PosixPath('/kaggle/input/tabular-playground-series-jan-2022'),
 PosixPath('/kaggle/input/tabular-playground-series-jan-2022/sample_submission.csv'),
 PosixPath('/kaggle/input/tabular-playground-series-jan-2022/train.csv'),
 PosixPath('/kaggle/input/tabular-playground-series-jan-2022/test.csv')]

In [13]:
train = pd.read_csv(files[2])
test = pd.read_csv(files[3])
train
test

       row_id        date  country       store         product  num_sold
0           0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1           1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2           2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3           3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4           4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911
...       ...         ...      ...         ...             ...       ...
26293   26293  2018-12-31   Sweden  KaggleMart      Kaggle Hat       823
26294   26294  2018-12-31   Sweden  KaggleMart  Kaggle Sticker       250
26295   26295  2018-12-31   Sweden  KaggleRama      Kaggle Mug      1004
26296   26296  2018-12-31   Sweden  KaggleRama      Kaggle Hat      1441
26297   26297  2018-12-31   Sweden  KaggleRama  Kaggle Sticker       388

[26298 rows x 6 columns]

      row_id        date  country       store         product
0      26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1      26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2      26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3      26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4      26302  2019-01-01  Finland  KaggleRama      Kaggle Hat
...      ...         ...      ...         ...             ...
6565   32863  2019-12-31   Sweden  KaggleMart      Kaggle Hat
6566   32864  2019-12-31   Sweden  KaggleMart  Kaggle Sticker
6567   32865  2019-12-31   Sweden  KaggleRama      Kaggle Mug
6568   32866  2019-12-31   Sweden  KaggleRama      Kaggle Hat
6569   32867  2019-12-31   Sweden  KaggleRama  Kaggle Sticker

[6570 rows x 5 columns]

In [46]:
# Categoricals

for col in train[['country', 'store', 'product']]:
    f'{col}, {train[col].unique()}'

"country, ['Finland' 'Norway' 'Sweden']"

"store, ['KaggleMart' 'KaggleRama']"

"product, ['Kaggle Mug' 'Kaggle Hat' 'Kaggle Sticker']"

In [82]:
# Datasets

dfs = {}
for cat in train['country'].unique():
    for cat_ in train['store'].unique():
        for cat__ in train['product'].unique():
            mask = (train['country']==cat) & (train['store']==cat_) & (train['product']==cat__)
            dfs[cat+cat_+cat__] = train[mask]